/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos para el encabezado */
header {
    background-color: #00798C;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #003D5B;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

/* Estilos para las secciones */
section {
    padding: 25px 100px 75px 100px;
}

/* Estilos para el pie de página */
footer {
    background-color: #003D5B;
    color: #fff;
    text-align: center;
    padding: 10px;
}


#quienes-somos {
	background-color: #003D5B;
	color: #fff;
}

#servicios {
	background-color: #00798C;
	color: #fff;
}













